[submodule "toolchain/riscv/Darwin"]
	path = toolchain/riscv/Darwin
	url = https://github.com/kolos/Ai-Thinker-WB2-toolchain-Darwin.git
[submodule "toolchain/riscv/Linux"]
	path = toolchain/riscv/Linux
	url = https://github.com/kolos/Ai-Thinker-WB2-toolchain-Linux.git
[submodule "toolchain/riscv/MSYS"]
	path = toolchain/riscv/MSYS
	url = https://github.com/kolos/Ai-Thinker-WB2-toolchain-MSYS.git
[submodule "tools/flash_tool"]
	path = tools/flash_tool
	url = https://github.com/kolos/Ai-Thinker-WB2-tools-flash_tool.git
